Requirements:

Grade Calculator:
- Weights MUST add up to 100
- Grade is calculated correctly (rounding, f's, etc.)
- Exam Grade cannot be < 0 or > 100
- Final Grade cannot be < 0 or > 100
- User should only be able to enter valid inputs
	* format: Parf 15 92
	
Vehicle Reccomender:
